In [1]:
import warnings
import numpy as np
import pandas as pd
from BuildLinearData import linear_data
from BacktestStrategy import backtest_strategy
warnings.filterwarnings("ignore")

In [2]:
df1 = pd.read_csv("OrderBook_10.csv")
df2 = pd.read_csv("KlineData_10.csv")
data1 = linear_data(df1, df2, d=20)

In [15]:
df = data1.copy()
train, test = np.split(df, [int(0.8*len(df))])

In [4]:
testb = backtest_strategy(train, test, to_test='Real', threshold=0.2)

Profit before transaction cost = 3274.6000000000713 USD
Transaction Cost = 227874.4832399986 USD
Total Profit = -224599.88323999854 USD
Total Trade Volume = 25230 trades

In [19]:
testb = backtest_strategy(train, test, to_test='Real', threshold=24)

Profit before transaction cost = 414.19999999988795 USD
Transaction Cost = 51190.37735999993 USD
Total Profit = -50776.177360000045 USD
Total Trade Volume = 5666 trades

In [5]:
test

                              Price  MPC_pred  MPC
Time
19458 days 10:00:45.687000  30036.9         0   -1
19458 days 10:00:45.937000  30036.9         0   -1
19458 days 10:00:46.187000  30036.9        -1   -1
19458 days 10:00:46.437000  30036.9         0    1
19458 days 10:00:46.687000  30036.9         0   -1
...                             ...       ...  ...
19458 days 15:20:15.687000  30178.5         0   -1
19458 days 15:20:15.937000  30178.6        -1   -1
19458 days 15:20:16.187000  30178.6        -1   -1
19458 days 15:20:16.437000  30178.6         0   -1
19458 days 15:20:16.687000  30178.5         1   -1

[64748 rows x 3 columns]

In [9]:
df1 = pd.read_csv("OrderBook_11.csv")
df2 = pd.read_csv("KlineData_11.csv")
data2 = linear_data(df1, df2, d=20)

In [10]:
df1 = pd.read_csv("OrderBook_13_1.csv")
df2 = pd.read_csv("KlineData_13_1.csv")
data3 = linear_data(df1, df2, d=20)

In [11]:
df1 = pd.read_csv("OrderBook_15_2.csv")
df2 = pd.read_csv("KlineData_15_2.csv")
data4 = linear_data(df1, df2, d=20)

In [12]:
df1 = pd.read_csv("OrderBook_16_1.csv")
df2 = pd.read_csv("KlineData_16_1.csv")
data5 = linear_data(df1, df2, d=20)

In [23]:
frames = [data1, data2, data3, data4, data5]

result = pd.concat(frames)
df = result.copy()
train, test = np.split(df, [int(0.8*len(df))])

In [31]:
testb = backtest_strategy(train, test, to_test='Real', threshold=0.1)

Profit before transaction cost = 7538.999999999363 USD
Transaction Cost = 413774.8365000016 USD
Total Profit = -406235.83650000225 USD
Total Trade Volume = 45542 trades

In [32]:
testb

                              Price  MPC_pred  MPC
Time
19460 days 19:50:40.003000  30320.6         0    1
19460 days 19:50:40.253000  30320.6         0    1
19460 days 19:50:40.503000  30320.7         0    1
19460 days 19:50:40.753000  30320.7         0    1
19460 days 19:50:41.003000  30320.7         0    1
...                             ...       ...  ...
19464 days 00:22:22.916000  30229.3         0    1
19464 days 00:22:23.166000  30229.3         0   -1
19464 days 00:22:23.416000  30229.2         0    1
19464 days 00:22:23.666000  30229.2         1    1
19464 days 00:22:23.916000  30229.2         1    1

[156306 rows x 3 columns]