In [1]:
import warnings
import numpy as np
import pandas as pd
from BuildLinearData import linear_data
from BacktestStrategy import backtest_strategy
warnings.filterwarnings("ignore")

In [2]:
df1 = pd.read_csv("OrderBook_10.csv")
df2 = pd.read_csv("KlineData_10.csv")
data1 = linear_data(df1, df2)

We split the data 80 20 and train our model.

In [3]:
df = data1.copy()
train, test = np.split(df, [int(0.8*len(df))])

In [4]:
test = backtest_strategy(train, test)

Total Profit = -64313.88966999986 USD
Total Trade Volume = 3707 trades

Well that's awful let's see how the dataframe looks like.

In [5]:
test

                              Price  MPC_pred  MPC
Time
19458 days 10:00:45.687000  30036.9         0   -1
19458 days 10:00:45.937000  30036.9         0   -1
19458 days 10:00:46.187000  30036.9        -1   -1
19458 days 10:00:46.437000  30036.9         0    1
19458 days 10:00:46.687000  30036.9         0   -1
...                             ...       ...  ...
19458 days 15:20:15.687000  30178.5         0   -1
19458 days 15:20:15.937000  30178.6        -1   -1
19458 days 15:20:16.187000  30178.6        -1   -1
19458 days 15:20:16.437000  30178.6         0   -1
19458 days 15:20:16.687000  30178.5         1   -1

[64748 rows x 3 columns]

Hmm.... we see a lot of zeros in the predicted dataset but not so much in the real dataset. Let's try a bigger on to see if the profits improve.

In [6]:
df1 = pd.read_csv("OrderBook_11.csv")
df2 = pd.read_csv("KlineData_11.csv")
data2 = linear_data(df1, df2)

In [7]:
df1 = pd.read_csv("OrderBook_13_1.csv")
df2 = pd.read_csv("KlineData_13_1.csv")
data3 = linear_data(df1, df2)

In [8]:
df1 = pd.read_csv("OrderBook_15_2.csv")
df2 = pd.read_csv("KlineData_15_2.csv")
data4 = linear_data(df1, df2)

In [9]:
df1 = pd.read_csv("OrderBook_16_1.csv")
df2 = pd.read_csv("KlineData_16_1.csv")
data5 = linear_data(df1, df2)

In [10]:
frames = [data1, data2, data3, data4, data5]

result = pd.concat(frames)
df = result.copy()
train, test = np.split(df, [int(0.8*len(df))])

In [11]:
test = backtest_strategy(train, test)

Total Profit = -69203.52185000021 USD
Total Trade Volume = 7510 trades

Well the profits did not improve. Although they did not decrease either. A loss making strategy will lose more with time however that was not the case.

In [12]:
test

                              Price  MPC_pred  MPC
Time
19460 days 19:50:40.003000  30320.6         0    1
19460 days 19:50:40.253000  30320.6         0    1
19460 days 19:50:40.503000  30320.7         0    1
19460 days 19:50:40.753000  30320.7         0    1
19460 days 19:50:41.003000  30320.7         0    1
...                             ...       ...  ...
19464 days 00:22:22.916000  30229.3         0    1
19464 days 00:22:23.166000  30229.3         0   -1
19464 days 00:22:23.416000  30229.2         0    1
19464 days 00:22:23.666000  30229.2         1    1
19464 days 00:22:23.916000  30229.2         1    1

[156306 rows x 3 columns]

Again we see the zeros much more pronounced than the true values. Despite the loss I'm not ready to throw out this strategy as I think that simply training with better data will get us to a better model and therefore better profits.