In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("btcusdt_data.csv")
df

,timestamp,bid_price,bid_qty,ask_price,ask_qty,last_price,acc_quantity
0,2023-05-19T03:06:49.800290,26887.0,0.738,26887.1,17.331,26887.0,534520.491000
1,2023-05-19T03:06:49.904521,26887.0,0.338,26887.1,17.331,26887.0,534520.491000
2,2023-05-19T03:06:49.974490,26887.0,0.402,26887.1,71.782,26887.1,534520.597000
3,2023-05-19T03:06:49.990530,26887.0,1.654,26887.1,14.488,26887.1,534520.597000
4,2023-05-19T03:06:49.992568,26887.0,1.654,26887.1,14.496,26887.1,534520.597000
...,...,...,...,...,...,...,...
1236441,2023-05-19T23:36:36.802625,26902.1,3.229,26902.2,0.005,26902.1,859509.394006
1236442,2023-05-19T23:36:36.898324,26902.7,24.940,26902.8,0.001,26902.6,859511.568006
1236443,2023-05-19T23:36:37.018091,26903.2,29.983,26903.3,0.411,26903.2,859511.581006
1236444,2023-05-19T23:36:37.092681,26903.2,30.140,26903.3,0.412,26903.2,859511.581006
1236445,2023-05-19T23:36:37.106684,26903.2,30.351,26903.3,0.412,26903.2,859511.581006

Not evenly spaced with one timestamp often divide into two. Are these sequential?

In [3]:
df1 = df.sort_values(by='timestamp').reset_index()
df[df["timestamp"] != df1["timestamp"]]

Empty DataFrame
Columns: [timestamp, bid_price, bid_qty, ask_price, ask_qty, last_price, acc_quantity]
Index: []

In [4]:
any(df1["timestamp"] != df["timestamp"])

False

Yes! Do they have negative spread?

In [5]:
df[df["ask_price"]-df["bid_price"] < 0]

Empty DataFrame
Columns: [timestamp, bid_price, bid_qty, ask_price, ask_qty, last_price, acc_quantity]
Index: []

In [6]:
any(df["ask_price"]-df["bid_price"] < 0)

False

No! Are there jumps? Interpreted as an instantaneous change of greater than 10 percent of average price.

In [7]:
avgP = df["last_price"].mean()
dummy = df[["bid_price", "ask_price"]].diff()
df[["bid_price"]][abs(dummy["bid_price"]) > 0.1*avgP]

Empty DataFrame
Columns: [bid_price]
Index: []

In [8]:
any(abs(dummy["bid_price"]) > 0.1*avgP)

False

In [9]:
df[["ask_price"]][abs(dummy["ask_price"]) > 0.1*avgP]

Empty DataFrame
Columns: [ask_price]
Index: []

In [10]:
any(abs(dummy["ask_price"]) > 0.1*avgP)

False

NO! 1 percent?

In [11]:
df[["bid_price"]][abs(dummy["bid_price"]) > 0.01*avgP]

Empty DataFrame
Columns: [bid_price]
Index: []

In [12]:
df[["ask_price"]][abs(dummy["ask_price"]) > 0.01*avgP]

Empty DataFrame
Columns: [ask_price]
Index: []

NO! Looks just fine except for being irregular.